# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore build and package files
*.egg
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code or OS files
.vscode/
.DS_Store
Thumbs.db
